PROJECT_ROOT=.
DATA_ROOT=./data
CHECKPOINT_ROOT=./ckpts

# Task-specific overrides
TREEHEIGHT_RASTER=./data/TreeHeight/raster_1m_cropped.tif
RSIPAC_TRAIN_ROOT=./data/RSIPAC_25_T1/train
LOVEDA_ROOT=./data/LoveDA
POTSDAM_ROOT=./data/Potsdam/processed
